In [7]:
import pandas as pd
from IPython.display import display
purchase_data = pd.read_csv("./Resources/purchase_data.csv")

In [222]:
#Players Count
unique_players = pd.DataFrame(purchase_data.SN.unique(), columns=['0'])
total_players = pd.DataFrame(unique_players.count(), columns=['Total Players'])
display(total_players)

   Total Players
0            576

In [214]:
# Purchasing Analysis
total_purchases = pd.Series(pd.DataFrame(purchase_data['Purchase ID']).count()).rename(index={"Purchase ID":0})
unique_items = pd.Series(pd.DataFrame(purchase_data['Item ID'].unique()).count())
average_price = pd.Series(purchase_data['Price'].mean())
total_revenue = pd.Series(purchase_data['Price'].sum())

final_df = pd.concat([unique_items,average_price,total_purchases,total_revenue],axis=1,ignore_index=True).rename(columns={
    0: "Number of Unique Items",
    1: "Average Price",
    2: "Number of Purchases",
    3: "Total Revenue"})
final_df["Average Price"] = final_df["Average Price"].apply(lambda x: "${:.2f}".format((x)))
final_df["Total Revenue"] = final_df["Total Revenue"].apply(lambda x: "${:,.2f}".format((x)))
display(final_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [215]:
# Gender Demographics
deduped_players = purchase_data.drop_duplicates(subset = ['SN'])
total_countm = pd.DataFrame(deduped_players.loc[deduped_players['Gender']=='Male']).count().iloc[0]
total_countf = pd.DataFrame(deduped_players.loc[deduped_players['Gender']=='Female']).count().iloc[0]
total_counto = pd.DataFrame(deduped_players.loc[deduped_players['Gender']=='Other / Non-Disclosed']).count().iloc[0]
total_count = pd.DataFrame(data=[total_countm, total_countf, total_counto], index=["Male","Female", "Other / Non-Disclosed"], columns=["Total Count"])
per_count = deduped_players['Gender'].value_counts(normalize=True) * 100
per_count = per_count.apply(lambda x: "{:,.2f}%".format((x)))
final_df = pd.concat([total_count, per_count], axis=1)
display(final_df)
# rework this one to use group by

                       Total Count  Gender
Male                           484  84.03%
Female                          81  14.06%
Other / Non-Disclosed           11   1.91%

In [223]:
# Purchasing Analysis Gender
per_count = purchase_data['Gender'].value_counts()
avg_purchases_by_gender = purchase_data.groupby('Gender')['Price'].mean().apply(lambda x: "${:.2f}".format((x)))
purchases_by_gender = purchase_data.groupby('Gender')['Price'].sum().apply(lambda x: "${:,.2f}".format((x)))
# This one isnt quite right, but I don't know what they are looking for
purchases_per_person_by_gender = purchase_data.groupby('Gender')['Price'].sum().divide(pd.to_numeric(per_count)).apply(lambda x: "${:,.2f}".format((x)))

final_df = pd.concat([per_count, avg_purchases_by_gender, purchases_by_gender, purchases_per_person_by_gender], axis=1)
final_df = final_df.rename(columns={final_df.columns[0]:'Purchase Count', final_df.columns[1]:'Average Purchase Price', final_df.columns[2]:'Total Purchase Value', final_df.columns[3]:'Avg Total Purchase per Person'})
display(final_df)

,Purchase Count,Total Purchase Value,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$3.02
Female,113,$3.20,$361.94,$3.20
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [224]:
# Age Demographics
cut_bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]
cut_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
binned_data = deduped_players.groupby([pd.cut(deduped_players['Age'], bins=cut_bins,labels=cut_labels)])
count_by_age = binned_data.size()
fraction_of_tot_by_age = count_by_age.divide(deduped_players.count().values[0]) * 100
percentage_by_age = fraction_of_tot_by_age.apply(lambda x: "{:.2f}%".format((x)))

final_df = pd.concat([count_by_age, percentage_by_age], axis=1)
final_df = final_df.rename(columns={final_df.columns[0]: "Total Count", final_df.columns[1]: "Percentage of Players"})
display(final_df)

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [241]:
# Purchasing Analysis Age
binned_purchase_data = purchase_data.groupby([pd.cut(purchase_data['Age'], bins=cut_bins,labels=cut_labels)])
purchases_by_age = binned_purchase_data.size()
avg_purchase_price_by_age = binned_purchase_data['Price'].mean().apply(lambda x: "${:.2f}".format((x)))
tot_purchase_value_by_age = binned_purchase_data['Price'].sum().apply(lambda x: "${:,.2f}".format((x)))
# Figure this one out
avg_tot_purchase_value_by_age = binned_purchase_data['Price'].sum().apply(lambda x: "${:.2f}".format((x)))

final_df = pd.concat([purchases_by_age, avg_purchase_price_by_age, tot_purchase_value_by_age, avg_tot_purchase_value_by_age], axis=1)
final_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
display(final_df)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,$3.35,$77.13,$77.13
10-14,28,$2.96,$82.78,$82.78
15-19,136,$3.04,$412.89,$412.89
20-24,365,$3.05,"$1,114.06",$1114.06
25-29,101,$2.90,$293.00,$293.00
30-34,73,$2.93,$214.00,$214.00
35-39,41,$3.60,$147.67,$147.67
40+,13,$2.94,$38.24,$38.24

In [280]:
groupby_purchases = purchase_data.groupby('SN')
avg_purchase_price = groupby_purchases['Price'].mean().apply(lambda x: "${:,.2f}".format((x)))
tot_purchase_price = groupby_purchases['Price'].sum()
final_df = pd.concat([groupby_purchases.size(), avg_purchase_price, tot_purchase_price], axis=1)
final_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
final_df = final_df.sort_values(by='Total Purchase Value', ascending=False)
display(final_df.head())

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

In [389]:
item_data = purchase_data[['Item ID', 'Item Name', 'Price']]
grouped_by_id_name = item_data.groupby(['Item ID', 'Item Name'])
grouped_data = grouped_by_id_name.sum()
grouped_data['Purchase Count'] = grouped_by_id_name.count()
grouped_data['Total Purchase Value'] = grouped_data['Price'] / grouped_data['Purchase Count']
grouped_data = grouped_data.sort_values(by='Purchase Count',ascending=False)
grouped_data.columns = ['Total Purchase Value', 'Purchase Count', 'Item Price']
grouped_data_tot_purchase_sorted = grouped_data.sort_values(by='Total Purchase Value', ascending=False)
grouped_data['Item Price'] = grouped_data['Item Price'].apply(lambda x: "${:,.2f}".format((x)))
grouped_data['Total Purchase Value'] = grouped_data['Total Purchase Value'].apply(lambda x: "${:,.2f}".format((x)))
grouped_data = grouped_data[['Purchase Count', 'Item Price', 'Total Purchase Value']]
display(grouped_data.head())

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [391]:
grouped_data_tot_purchase_sorted['Total Purchase Value'] = grouped_data_tot_purchase_sorted['Total Purchase Value'].apply(lambda x: "${:,.2f}".format((x)))
grouped_data_tot_purchase_sorted['Item Price'] = grouped_data_tot_purchase_sorted['Item Price'].apply(lambda x: "${:,.2f}".format((x)))
grouped_data_tot_purchase_sorted = grouped_data_tot_purchase_sorted[['Purchase Count', 'Item Price', 'Total Purchase Value']]
display(grouped_data_tot_purchase_sorted.head())

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80