In [7]:
import pandas as pd
purchase_data = pd.read_csv("./Resources/purchase_data.csv")

In [104]:
unique_players = pd.DataFrame(purchase_data.SN.unique(), columns=['0'])
total_players = pd.DataFrame(unique_players.count(), columns=['Total Players'])
total_players.head()

   Total Players
0            576

In [114]:
total_purchases = pd.Series(pd.DataFrame(purchase_data['Purchase ID']).count()).rename(index={"Purchase ID":0})
unique_items = pd.Series(pd.DataFrame(purchase_data['Item ID'].unique()).count())
average_price = pd.Series(purchase_data['Price'].mean())
total_revenue = pd.Series(purchase_data['Price'].sum())

final_df = pd.concat([unique_items,average_price,total_purchases,total_revenue],axis=1,ignore_index=True).rename(columns={
    0: "Number of Unique Items",
    1: "Average Price",
    2: "Number of Purchases",
    3: "Total Revenue"})
final_df.head()

0    780
dtype: int64

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [111]:
deduped_players = purchase_data.drop_duplicates(subset = ['SN'])
total_countm = pd.DataFrame(deduped_players.loc[deduped_players['Gender']=='Male']).count()
# per_countm = pd.Series(pd.DataFrame(purchase_data['Gender']).percent())
total_countf = pd.DataFrame(deduped_players.loc[deduped_players['Gender']=='Female']).count()
# per_countf = pd.Series(pd.DataFrame(purchase_data['Gender']).percent())
total_counto = pd.DataFrame(deduped_players.loc[deduped_players['Gender']=='Other / Non-Disclosed']).count()
# per_counto = pd.Series(pd.DataFrame(purchase_data['Gender']).percent())
print(total_countm)
print(total_countf)
print(total_counto)

Purchase ID    484
SN             484
Age            484
Gender         484
Item ID        484
Item Name      484
Price          484
dtype: int64
Purchase ID    81
SN             81
Age            81
Gender         81
Item ID        81
Item Name      81
Price          81
dtype: int64
Purchase ID    11
SN             11
Age            11
Gender         11
Item ID        11
Item Name      11
Price          11
dtype: int64